# Node modules
node_modules/

# Environment variables
.env

# Google service account key
Credentials.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific junk
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/